body{
    margin: 0;
}
a{
    text-decoration: none;
}

h1,h2{
    font-family: 'Libre Baskerville', serif;
}

#logo{
    text-align: center;
}
header{
    background-color: #16b87c;
    margin-bottom: 50px;
}
h1{
    margin-top: 0;
    padding-top: 30px;
    font-weight: bold;
    color: wheat;
}
h2{
    font-size: 1rem;
    color: white;
}
ul{
    list-style: none;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: #0c6343;

}
li{
    display: inline-block;
    padding-right: 20px;
    
}

nav li a:hover{
    color: red;
}
li a{
    font-size: 1.25rem;
    color: white;
}

#wrapper{
    width: 960px;
    margin: auto;
}

.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 50px;
    border-radius: 100%;
}
section p{
    line-height: 30px;
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;
}
h3{
    border: 1px solid red;
    background-color: aqua;
    width: 10%;
    margin: auto;
    text-align: center;
}
h3:hover{
    background-color: blueviolet;
}

footer {
    background-color:#16b87c;;
    font-size: 0.75em;
    text-align: center;
    padding-top: 20px;
    color: #ccc;
    clear: both;
}
.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

footer p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Caveat', cursive;
}
.selected{
    color: tomato;
}